    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" id="appIcon" type="image/x-icon" href="https://cms.blumewebsites.com/pops/website/favicon.png">
        <link rel="stylesheet" href="../css/inicio.css">
        <title>Inicio</title>
    </head>
    <body>
        <header>
            <nav>
                <div class="logo">
                    <a href="inicio">
                        <img src="../img/logo_pops_2024.webp" alt="POPS Logo">
                    </a>
                </div>
                <div class="settings-menu">
                    <div class="settings-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="12" cy="12" r="3"></circle>
                            <path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
                        </svg>
                    </div>
                    <div class="dropdown">
                        <a href="#">Perfil</a>
                        <a href="#">Configuración</a>
                        <a href="/dhcoapp">Cerrar sesión</a>
                    </div>
                </div>
            </nav>
        </header>

        <main>
            <h1>Bienvenido, <%= user.nombre %></h1>
            <div class="section">
                <div class="section-title">Evaluaciones</div>
                <div class="card-container">
                    <div class="card eval-card" data-page="inicio">
                        <h2>Evaluacion de desempeño</h2>
                        <p>Realiza tu evaluacion de desempeño</p>
                    </div>
                </div>
            </div>

            <div class="section">
                <div class="section-title">Solicitudes</div>
                <div class="card-container">
                    <% if (user.a_cargo === 'S') { %>
                    <div class="card report-card" data-report-page="salida_personal">
                        <h2>Salida de personal</h2>
                        <p>Registre las salidas de personal a tu cargo</p>
                    </div>
                    <% } %>
                    <div class="card report-card" data-report-page="solicitud_vacaciones">
                        <h2>Solicitud de vacaciones</h2>
                        <p>Solicite sus días de vacaciones</p>
                    </div>
                    <% if (user.a_cargo === 'S') { %>
                    <div class="card report-card" data-report-page="traslado_personal">
                        <h2>Traslado de personal</h2>
                        <p>Registre el traslado de personal</p>
                    </div>
                    <% } %>
                    <div class="card report-card" data-report-page="reporte_incapacidad">
                        <h2>Incapacidades y licencias</h2>
                        <p>Reporte sus Incapacidades y Licencias</p>
                    </div>
                    <div class="card report-card" data-report-page="solicitud_cartas">
                        <h2>Solicitudes de cartas</h2>
                        <p>Haga solicitud de sus carta</p>
                    </div>
                    <% if (user.permiso === 2 || user.permiso == 3) { %>
                        <div class="card report-card" data-report-page="historico">
                            <h2>Historico</h2>
                            <p>Visualiza el historico de solicitudes realizadas</p>
                        </div>
                    <% } %>
                </div>
            </div>

            <% if (user.permiso == 2 || user.permiso == 3) { %>
                <div class="section">
                    <div class="section-title">Mantenimiento</div>
                    <div class="card-container">
                        <div class="card mantenimiento-card" data-page="colaboradores_config">
                            <h2>Colaboradores</h2>
                            <p>Agrega o edita colaboradores</p>
                        </div>
                    </div>
                </div>
            <%}%>

            <% if (user.permiso == 4 || user.permiso == 3 || user.a_cargo === 'S') { %>
            <div class="section">
                <div class="section-title">Pendientes</div>
                <table class="pending-table">
                    <thead>
                        <tr>
                            <th>Colaborador</th>
                            <th>Tipo reporte</th>
                            <th>Fecha inicio</th>
                            <th>Fecha fin</th>
                            <th>Detalle</th>
                            <th>Archvio</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (!pendientes || pendientes.length === 0) { %>
                            <tr>
                                <td colspan="7">No hay pendientes</td>
                            </tr>
                        <% } else { %>
                            <% pendientes.forEach(pendiente => { %>
                                <% if (pendiente.estado !== 'D') { %>
                                    <tr data-id="<%= pendiente.id %>" data-estado="<%= pendiente.estado %>" data-tipo-reporte ="<%= pendiente.tipo_reporte_id %>">
                                        <td><%= pendiente.nombreSolicitante %></td>
                                        <td><%= pendiente.tipo_reporte %></td>
                                        <td><%= pendiente.fecha_inicio ? new Date(pendiente.fecha_inicio).toLocaleDateString('es-ES', { timeZone: 'UTC' }) : '-' %></td>
                                        <td><%= pendiente.fecha_fin ? new Date(pendiente.fecha_fin).toLocaleDateString('es-ES', { timeZone: 'UTC' }) : '-' %></td>
                                        <td><%= pendiente.detalle_reporte ? pendiente.detalle_reporte : 'Sin detalle' %></td>
                                        <td>
                                            <% if (pendiente.documentos && pendiente.documentos.length > 0) { %>
                                                <% pendiente.documentos.forEach(doc => { %>
                                                    <a href="/dhcoapp/bienestar-integral/ver-archivo/<%= doc.documento_id %>" target="_blank">
                                                        <%= doc.nombre_documento %>
                                                    </a><br>
                                                <% }) %>
                                            <% } else { %>
                                                Sin archivos
                                            <% } %>
                                        </td>
                                        <td>
                                            <div class="action-buttons">
                                                <button class="accept-btn" value="1">Aceptar</button>
                                                <button class="reject-btn" value="0">Rechazar</button>
                                            </div>
                                        </td>
                                    </tr>
                                <% } %>
                            <% }) %>
                        <% } %>
                    </tbody>                                                                      
                </table>
            </div>
            <% } %>
            <% if (user.permiso == 2 || user.permiso == 3) { %>
            <div id="filterModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Filtros</h2>
                    <form id="filterForm">
                        <div class="form-row">
                            <div class="form-group">
                                <label for="tipo_reporte">Tipo de reporte</label>
                                <select id="tipo_reporte" name="tipo_reporte">
                                    <option value="Seleccionar" data-report-id="0">Seleccionar</option>
                                    <% filterInputsInfo.tipoReporte.forEach(tipoReporte => { %>
                                        <option value="<%= tipoReporte.id %>" data-report-id="<%= tipoReporte.id %>"><%= tipoReporte.nombre %></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="reset">Resetear</button>
                            <button type="submit">Aplicar filtros</button>
                        </div>
                    </form>
                </div>
            </div>
            <% } %>
        </main>
        <footer class="footer">
            <img src="../img/footer.webp" alt="footer">
        </footer>
    </body>
    <script src="../js/inicio.js"></script>
    </html>