<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" id="appIcon" type="image/x-icon" href="https://cms.blumewebsites.com/pops/website/favicon.png">
    <link rel="stylesheet" href="../../css/reportes/salida_personal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Salida de personal</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="/dhcoapp/inicio">
                    <img src="../../img/logo_pops_2024.webp" alt="POPS Logo">
                </a>
            </div>
            <div class="settings-menu">
                <div class="settings-icon" id="settingsIcon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="12" cy="12" r="3"></circle>
                        <path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
                    </svg>
                </div>
                <div class="dropdown" id="settingsDropdown">
                    <a href="#">Perfil</a>
                    <a href="#">Configuración</a>
                    <a href="#">Cerrar sesión</a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="form-container">
            <div class="form-header">
                <h1>Reporte salida de personal regional</h1>
                <p>Por favor, complete el formulario para reportar una salida de personal.</p>
            </div>
            <form class="form-content" id="salidaForm">              
                <div class="form-row">
                    <div class="form-group">
                        <label for="colaborador">Seleccione el colaborador</label>
                        <input list="colaboradoresList" id="colaborador" name="incident-type" placeholder="Seleccionar colaborador" required>
                        <datalist id="colaboradoresList">
                                <% reportData.subordinados.forEach(sub => { %>
                                    <option data-id="<%= sub.id %>"> <%= sub.nombre %> <%= sub.segundo_nombre %> <%= sub.primer_apellido %> <%= sub.segundo_apellido %> </option>
                                <% }) %>
                        </datalist>
                    </div>
                    <div class="form-group">
                        <label for="pais">País</label>
                        <select id="pais" name="incident-type" required>
                            <option value="">Seleccionar</option>
                            <% if (reportData && reportData.paises) { %>
                                <% reportData.paises.forEach(pais => { %>
                                    <option value="<%= pais.id %>"><%= pais.nombre %></option>
                                <% }) %>
                            <% } else { %>
                                <option value="no-data">No hay datos disponibles</option>
                            <% } %>
                        </select>
                    </div> 
                </div>  
                <div class="form-row">
                    <div class="form-group">
                        <label for="fecha_salida">Fecha de salida</label>
                        <input type="date" id="fecha_salida" name="fecha_salida" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label class="radio-label">Tipo de salida</label>
                        <div class="radio-group">
                            <% reportData.tipoSalida.forEach(salida => { %>
                                <div class="radio-option">
                                    <input 
                                        type="radio" 
                                        id="salida-<%= salida.id %>" 
                                        name="tipo-salida" 
                                        value="<%= salida.nombre.toLowerCase() %>"
                                        data-id="<%= salida.id %>"
                                    >
                                    <label for="salida-<%= salida.id %>"><%= salida.nombre %></label>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="radio-label">Motivo de salida</label>
                        <div class="radio-group">
                            <% reportData.motivoSalida.forEach(motivo => { %>
                                <div class="radio-option">
                                    <input 
                                        type="radio" 
                                        id="motivo-<%= motivo.id %>" 
                                        name="tipo-motivo" 
                                        value="<%= motivo.nombre.toLowerCase() %>"
                                        data-id="<%= motivo.id %>"
                                    >
                                    <label for="motivo-<%= motivo.id %>"><%= motivo.nombre %></label>
                                </div>
                            <% }); %>
                        </div>
                        <div class="other-input" id="tipo-motivo-otro-input" style="display: none;">
                            <input type="text" id="tipo-motivo-otro" name="tipo-motivo-otro" placeholder="Especifique otro motivo de salida">
                        </div>                        
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group" style="flex: 1 1 100%;">
                        <label>Adjuntar archivos (Un archivo por entrada)</label>
                        <div class="file-inputs-container">
                            <div class="file-input-wrapper">
                                <input type="file" id="archivo1" name="file">
                                <label for="archivo1" class="file-input-button">Carta autorización de pago</label>
                                <div class="file-input-name" id="file-input-name-1">Seleccione un archivo</div>
                            </div>
                            <div class="file-input-wrapper">
                                <input type="file" id="archivo2" name="file">
                                <label for="archivo2" class="file-input-button">Comprobante de entrega de uniformes</label>
                                <div class="file-input-name" id="file-input-name-2">Seleccione un archivo</div>
                            </div>
                            <div class="file-input-wrapper">
                                <input type="file" id="archivo3" name="file">
                                <label for="archivo3" class="file-input-button">Fotografía de la identificación</label>
                                <div class="file-input-name" id="file-input-name-3">Seleccione un archivo</div>
                            </div>
                            <div class="file-input-wrapper">
                                <input type="file" id="archivo4" name="file">
                                <label for="archivo4" class="file-input-button">Carta de despido o renuncia</label>
                                <div class="file-input-name" id="file-input-name-4">Seleccione un archivo</div>
                            </div>
                        </div>
                    </div>
                </div>
                <% if (user.pais === 'Nicaragua') { %>
                <div class="form-row">
                    <div class="form-group" style="flex: 1 1 100%;">
                        <label for="vacaciones">Saldo de Vacaciones (solo se muestra si el colaborador es de Nicaragua)</label>
                        <input type="text" id="vacaciones" name="vacaciones" placeholder="Tu respuesta">
                    </div>
                </div>
                <% } %>
                <button type="submit">Enviar reporte</button>
            </form>
        </div>
    </main>
    <div id="alert" class="alert">
        <div class="alert-content">
            <i id="alertIcon" class="alert-icon"></i>
            <p id="alertMessage"></p>
        </div>
        <button class="close-btn" onclick="closeAlert()">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <footer>
        <div class="footer-content">
            <img src="../../img/footer.webp" alt="Decorative footer with waves">
        </div>
    </footer>
</body>
<script src="../../js/reportes/salida_personal.js"></script>
</html>